
.margin5 {
  margin-left: 5%;
  margin-right: 5%;
}

.margin10 {
  margin-left: 10%;
  margin-right: 10%;
}

.eqn-input {
  width: 100px;
}
@media screen and (max-width: 600px) {
  .eqn-input {
    width: 50px;
  }
}
@media screen and (max-width: 400px) {
  .eqn-input {
    width: 30px;
  }
}
